<html>
<head>
    <link href="../static/css/headlinestylesheet.css" type = "text/css"/>

</head>
<body>
    <div class = "searchbar">
        <form class = "search" action = " ">
            <input type = "text" id = "searchbar" placeholder = "search something...">
            <button type="submit" id = "submitbutton" onclick = "submitArticleRequest(); return false;">Find Articles!</button>

        </form>       
    </div>
    <p id = "articlepara">

    </p>
<script src = "../static/js/headlinescript.js"> </script>
</body>
</html>
